{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n  static %}

{% block content %}
    <a href="{% url "ideas:idea_list" %}">{% trans "List of ideas" %}</a>
    <h1>
        {% if idea %}
            {% blocktrans trimmed with title=idea.translated_title %}
                Change Idea "{{ title }}"
            {% endblocktrans %}
        {% else %}
            {% trans "Add Idea" %}
        {% endif %}
    </h1>
    {% crispy form %}


<form action="." method="post">
{% csrf_token %}
<input type="submit" value="submit">
{% endblock %}

{% block js %}
    <script src="{% static 'site/js/inlines.js' %}"></script>
{% endblock %}
